* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    color: #000;
    transition: background-color 0.3s ease;
}

/* Estilos del modo claro */
[data-theme='light'] {
    background-color: #ddd;
    color:#030e2a
}

[data-theme='dark'] header{
    background-color:black;
    color:#ddd
}
[data-theme='dark'] header .titulo{
    background-color:black;
    color:#ddd;

}
[data-theme='dark'] header a{
    background-color:black;
    color:#ddd
}
[data-theme='dark'] section .profile{
    background-color:black;
    color:#ddd
}
[data-theme='dark'] footer{
    background-color:black;
    color:#ddd
}
[data-theme='dark'] section .secciones{
    background-color:black;
    color:#ddd
}
               /* Estilos del header y navbar */
header {
    background-color: rgb(33, 149, 238);
    padding: 20px 0;
    color: #030e2a;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo {
    display: flex;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.titulo a {
    color: black;
    text-decoration: none;
}
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;

}

.nav-links a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 18px;
}

.nav-links a:hover {
    color: #fff;
}

/* Estilos del about section */
.profile {
    text-align: center;
    margin-top: 5px;
    background-color:  white;
    color:#030e2a;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}
.profile h2{
margin-bottom: 5px;
    font-size: 16px
}
/* Estilos del portfolio section */
.container {
    background-color: white;
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 10px 20px; /* Agrega un espacio interno al contenedor */
}

.secciones {
    margin-top: 10px;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas */
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 20px; /* Espacio entre los elementos */
}

.box {
    display: flex;
    flex-wrap: wrap; /* Permite que los artículos se ajusten en varias líneas */
    justify-content: center; /* Centra los artículos horizontalmente */
    gap: 20px; /* Espacio entre los artículos */
    margin-top: 10px;
}

article {
    flex: 1 1 250px; /* Permite que los artículos crezcan y se ajusten */
    max-width: 250px; /* Ancho máximo de cada artículo */
    text-align: center; /* Centra el contenido dentro de cada artículo */
   
}

article img {
    max-width: 100%; /* La imagen se ajusta al ancho del contenedor */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
}

article a{

    text-decoration: none; /* Quita subrayado de las etiquetas */
  
}
article a{
    margin-top: 10px;/* Agrega espacio superior entre la imagen y el texto */
    font-size: 16px; /* Tamaño de letra */
    color: darkslategray;
 }


/* Estilos del footer */
footer {
    background-color: rgb(33, 149, 238);;
    padding: 50px 0;
    position: relative;
    margin-top: 50px;
}

  .footer-sns {
    width: 50%;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    
  }
  .sns-links {
    display: flex;
 
  

    margin: auto;
    
  }
  .sns-links i{
  margin:10px
    
  }
  .linkedin,
  .github,
  .google {
    color: white;
    font-size: 30px;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top:25px;
    border-bottom: 4px solid transparent;
  }
  .footer-info{
text-align: center;
margin-bottom: 60px;
  }
  .footer-contact {
    font-size: 13px;
  
  
    margin: 0 auto;
    text-align: center;
    
  }
.design-by {
    font-size: 18px;
  }
.scroll-to-top i{
   
font-size: 22px;
color:#fff;
margin-left: 15px;
}
.scroll-to-top i:hover{
   cursor: pointer;
  
   color:#128C7E
   
    }
/* Estilos del botón flotante de WhatsApp */
.whatsapp-float {
    background-color: #41e681;
    color: #fff;
    padding: 4px 5px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    text-decoration: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}
.whatsapp-float i{
   
    color: #fff;

}
.whatsapp-float:hover {
    background-color: #128C7E;
}



/* Estilos del botón de cambio de tema */
.darkModeSwitch {
    background: #41e681;
    display: flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 5px; /* Ajusta el relleno */
    width: 80px; /* Ajusta el ancho */
    height: 40px; /* Ajusta la altura */
}

/* Estilos para el icono del sol y la luna */
.darkModeSwitch span {
    color: #150202; /* Color del icono */
}

/* Estilos del fondo del interruptor */
.darkModeSwitch::after {
    display: block;
    background: transparent;
    width: 100%; /* Ajusta el ancho */
    height: 100%; /* Ajusta la altura */
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 1rem; /* radio de borde del botón */
    transition: all .5s ease;
    content: "";
}

/* Estilos específicos para el modo oscuro */ñ
[data-theme='dark'] .darkModeSwitch::after {
    background: #cad7f8; /* Color de fondo oscuro */
}

[data-theme='dark'] .darkModeSwitch span {
    color: #ddd; /* Color del icono en modo oscuro */
}

@media only screen and (max-width:768px) {
 
.nav-links {
    display: none;
}
.design-by {
    font-size: 14px;
  }
}